<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="by.komkova.fit.bstu.passave">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Passave">
        <activity
            android:name=".DetailsActivity"
            android:exported="true" />
        <activity
            android:name=".AddPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".GeneratePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <activity
            android:name=".SettingsSecurityActivity"
            android:exported="true" />
        <activity
            android:name=".SettingsLanguagesActivity"
            android:exported="true" />
        <activity
            android:name=".CreateMasterKeyActivity"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="true">

            <!-- tools:ignore="Instantiatable" > -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <provider
            android:name=".FolderProvider"
            android:authorities="by.komkova.fit.bstu.providers.FolderList"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="true"
            android:writePermission="true"/>
        <provider
            android:name=".FolderProvider"
            android:authorities="by.komkova.fit.bstu.providers.PasswordNoteList"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="true"
            android:writePermission="true"/>
    </application>

</manifest>